view,
scroll-view,
swiper,
swiper-item,
cover-view,
cover-image,
icon,
text,
rich-text,
progress,
button,
checkbox,
form,
input,
label,
radio,
slider,
switch,
textarea,
navigator,
audio,
camera,
image,
video {
	box-sizing: border-box;
}

.titleNview-placing {
	height: var(--status-bar-height);
	// padding-top: 44px;
	box-sizing: content-box;
}
		
.flex-row{
	display: flex;
	flex-direction: row;
}